
/* 
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #eaebe8;
    text-align: left;
    background-color: #fff;
  }
   */
 
  /* html {
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    scrollbar-color: white black;
    scrollbar-width: auto;
  }  */
  /* html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
   */
/*  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
 
  
  ::-webkit-scrollbar {
    width: 17px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
  }
  ::-webkit-scrollbar-track {
    background-color: #be5757;
  }
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  } */

  .pagearea {
	float:center;
    width: 42%;
    max-width: 100%;
	min-height:100vh;
    margin: 0px auto;
    margin-right: 0;
	background-color: rgba(34, 32, 32, 0.8);
	color: rgba(236, 231, 231, 0.5);
	font-size: 15px;
	text-align:center;
	padding:40px 60px;
	font-family:Roboto Condensed;
}
.pagearea h1.entry-title, .pagearea h1.page-headline {
	font-family: Oswald;
    font-size: 21px;
    color: rgba(255,255,255,0.7);
	letter-spacing: 1px;
}
.pagearea h1.page-headline {
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
	font-size:25px;
}

.pagearea h1.page-headline:after {
    content: '';
    width: 91%;
    color: rgba(255,255,255,0.4);
    margin-top: 20px;
    border-bottom: double medium;
    display: block;
    margin-bottom: 30px;
    position: relative;
    margin-left: 26px;
	}
.iconstartitle {
	position: absolute;
    top: 95px;
}
.pagearea a.readmore {
	font-style: italic;
    background-color: rgba(230, 33, 97, 0.48);
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px 20px;
    margin-top: 10px;
	margin-bottom:10px;
}